.git
.next
.env
node_modules
output
__pycache__
**/__pycache__
*.pyc
*.tsbuildinfo
data/*
!data/.gitkeep
pop_app
templates
tests/test_server.py
server.py
requirements.txt
static
runtime/hero/*.png
runtime/unity-webgl/**/Build/*.data*
runtime/unity-webgl/**/Build/*.wasm*
runtime/unity-webgl/**/Build/*.framework.js*
