.env
__pycache__/
**/__pycache__/
*.pyc
data/*
!data/.gitkeep
output/
node_modules/
runtime/unity-webgl/**/Build/*.data*
runtime/unity-webgl/**/Build/*.wasm*
runtime/unity-webgl/**/Build/*.framework.js*
